.coin {
    display: flex;
    align-items: center;
    gap: 20px;


    p {
        font-size: 20px;
    }
}

.imgAndName {
    display: flex;
    align-items: center;
    width: 50%;

    div {
        width: 30px;
        margin-right: 10px;

        img {
            width: 100%;
        }
    }
}

.number {
    width: 35px;
}

.coinAmount {
    text-align: start;
    width: 20%;
    padding-left: 10px;
}

.tolalPrice {
    width: 33%;
    text-align: start;
    padding-left: 30px;
    margin-right: -10px;
}

.delete {
    border: none;
    padding: 0;
    width: 10%;
    text-align: end;

    img {
        width: 20px;
    }
}

::-webkit-scrollbar {
    width: 0;
}