@import '../../styles/variables.scss';

.header {
    padding: 20px;
    background-color: rgb(255, 237, 220);
    display: flex;
    justify-content: space-between;
}

.coins {
    display: flex;
    gap: 20px;

    p {
        font-weight: 500;
        font-size: 18px;
    }
}

.top3 {
    display: flex;
    flex-direction: column;
    gap: 10px;

    h3 {
        font-size: 22px;
    }
}

.walletPrice {
    color: $text-color;
    background-color: rgba(155, 178, 227, .3);
    border-radius: 3px;
    font-weight: 600;
    font-size: 20px;
    transition-duration: .4s;
}

.walletPrice:hover {
    background-color: rgba(255, 141, 2, 0.2);
}