.section404 {
    max-width: 1440px;
    margin: 0 auto;
    height: 100svh;
    background-image: url('/images/Yoda.jpg');
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
        background-color: rgba(0, 0, 0, 0.1);
        margin: 0 10px;
    }

    h1 {
        font-size: 80px;
        text-align: center;
    }
    p {
        padding: 10px;
        border-radius: 3px;
        text-align: center;
        font-size: 20px;

        button {
            font-size: 20px;
            background-color: rgba(255, 141, 2, 0.5);

            &:hover {
                background-color: rgba(251, 93, 50, 0.5);
            }
        }
    }
}